* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1222362472694943788/1281963014723211264/bb9056ee50c5610b5901f5a786c6ffbb.jpg?ex=66dda098&is=66dc4f18&hm=e64d0544f6b0e9017c16fccbf6de6eddab8a658610d4aca4e1a02cfe5e7f54d1&");
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff
}

.main {
  padding-bottom: 75px;
}

.header {
  margin: 20px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.stats {
  text-align: center;
  margin-bottom: 15px;
  }

.username {
  text-align: center;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
}

h3 {

  font-size: 2em;

}

.long-btn {
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 5px;
  max-width: 500px;
  height: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
}

.long-btn:hover {
  color: #f0f0f0;
  background-color: #262626;
  transition-duration: 0.3s;
}



.footer {
  text-align: center;
  margin-bottom: 15px;
   -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
}

.footer a{
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}
